modules = ["go-1.24", "nodejs-20", "postgresql-17"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Backend"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && go run main.go"
waitForPort = 8080

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 34203
externalPort = 3002

[[ports]]
localPort = 38157
externalPort = 8000

[[ports]]
localPort = 41293
externalPort = 3001

[[ports]]
localPort = 41655
externalPort = 3003

[[ports]]
localPort = 41993
externalPort = 6000

[[ports]]
localPort = 42699
externalPort = 5000

[[ports]]
localPort = 43509
externalPort = 5173

[[ports]]
localPort = 43599
externalPort = 4200

[[ports]]
localPort = 43607
externalPort = 6800

[nix]
channel = "stable-25_05"
packages = ["go-migrate"]
